# Dependencies
node_modules/

# Built binaries & packages
*.apk
*.aab
*.zip

# Generated build output
www/

# Android build cache & local machine configurations
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/capacitor-cordova-android-plugins/

# OS temporary files
.DS_Store
Thumbs.db
*.log
